WebContent/wsdl/MedicoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webService" xmlns:intf="http://webService" xmlns:tns1="http://orm.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://orm.org"/>
   <element name="getEspecialidades">
    <complexType/>
   </element>
   <element name="getEspecialidadesResponse">
    <complexType>
     <sequence>
      <element name="getEspecialidadesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:PersistentException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://orm.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="PersistentException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEspecialidadesResponse">

      <wsdl:part element="impl:getEspecialidadesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEspecialidadesRequest">

      <wsdl:part element="impl:getEspecialidades" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="PersistentException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MedicoService">

      <wsdl:operation name="getEspecialidades">

         <wsdl:input message="impl:getEspecialidadesRequest" name="getEspecialidadesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEspecialidadesResponse" name="getEspecialidadesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:PersistentException" name="PersistentException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MedicoServiceSoapBinding" type="impl:MedicoService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEspecialidades">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEspecialidadesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEspecialidadesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="PersistentException">

            <wsdlsoap:fault name="PersistentException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MedicoServiceService">

      <wsdl:port binding="impl:MedicoServiceSoapBinding" name="MedicoService">

         <wsdlsoap:address location="http://localhost:8080/PDS.Hora.Medica.Servidor/services/MedicoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
